.despre-noi {
    width: 100vw;
    background: white;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.despre-noi>h1{
    font-weight: 600;
    width: 100vw;
    padding: 45px;
    color: white;
    text-shadow: var(--text-shadow);
    background-size: cover;
}

.despre-noi>p{
    margin-top: 20px;
    max-width: 1000px;
}