.blog {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 2rem;
    border-bottom: var(--border);
}

.blog h1{
    padding-left: 20px;
}

.blog>p {
    padding-left: 20px;
    padding-bottom: 20px;
}

.blog > .button {
    margin-bottom: 20px;
}

.blog {
    width: 100%;
}

.blog>.post{
    width: 100%;
    height: 200px;
    background: white;
    border-top: var(--border);
    /* border-left: var(--border); */
    /* border-right: var(--border); */
    display: flex;  
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    transition: var(--transition);
    padding: 20px;
    border: 1px solid red;
    box-sizing: border-box;
    color: black;
}


.blog>.post>.title{
    font-size: 1.2rem;
}

.blog>.post>.summary{
    padding: none;
}

.blog>.post>.date{
    font-size: var(--font-size-xs);
}
