.blog {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 2rem;
    border-bottom: var(--border);
    width: 100%;
}

.blog h1 {
    padding-left: 20px;
}

.blog > p {
    padding-left: 20px;
    padding-bottom: 20px;
}

.blog > .button {
    margin-bottom: 20px;
}

.blog > .post {
    width: 100%;
    min-height: 400px;     

    height: auto;          
    background: white;
    border-top: var(--border);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px; 

    align-items: flex-start;

    text-decoration: none;
    transition: var(--transition);
    padding: 20px;
    box-sizing: border-box;
    color: black;
}

.blog > .post > .title {
    font-size: 1.2rem;
    border: 1px solid red;
}

.blog > .post > .summary {
    padding: 0;
}

.blog > .post > .date {
    font-size: var(--font-size-xs);
}
