.navbar {
  width: 100vw;
  height: 6vh;
  background: white;
  color: white;
  display: flex;             
  align-items: center;       
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box; 
  box-shadow: var(--box-shadow);
}

.navbar>span{
  color: black;
  font-size: var(--font-size-ll);
  font-weight: 600;
}

.navbar>.nav-links> * {
  text-decoration: none;
  color: var(--text-secondary);
}

.navbar>.nav-links> *:hover {
  text-decoration: none;
  color: var(--primary);
}

.navbar>.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}