.services-details {
    margin-top: 50px;
    padding: 30px;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-details>.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-details>.info> h1 {
    font-weight: 600;
    width: 100vw;
    padding: 45px;
    text-align: center;
    color: white;
    text-shadow: var(--text-shadow);
    background-position: center;
    background-size: cover;
}

.services-details>.info>p {
    text-align: center;
}

.services-details>.info>.checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services-details>.info>.checkboxes>.under-services-thing-checkbox {
    padding-top: 30px;
    width: 80%;
}

