.hero {
    height: 80vh;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    padding: 50px;
    color: white;
    text-shadow: var(--text-shadow);
    border: none;
}

/* SLIDE */
.slide {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    pointer-events: none;
}

.slide.active {
    opacity: 1;
    pointer-events: auto;
}

/* TEXT */
.hero h1 {
    font-size: var(--font-size-xxxl);
    z-index: 2;
}

.hero p {
    font-size: var(--font-size-xl);
    margin-top: 25px;
    z-index: 2;
}

/* BUTTONS */
.hero .buttons {
    margin-top: 15px;
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.hero .buttons .button {
    font-size: var(--font-size-ll);
}

/* BUTTON COLORS */
.hero .buttons button:nth-child(1):hover {
    background: var(--primary);
}
.hero .buttons button:nth-child(2) {
    background: var(--secondary);
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .hero {
        padding: 25px;
    }
    .hero h1 {
        font-size: var(--font-size-xxll);
    }
    .hero p {
        font-size: var(--font-size-ll);
    }
    .hero .buttons {
        width: 450px;
        flex-direction: column;
        align-items: flex-start;
    }
    .hero .buttons .button {
        margin-top: 15px;
    }
}
