.footer {
  background: white;
  text-align: center;
  padding: 5rem;
  margin-top: 5rem; 
}

.footer > .hook {
  font-weight: 600;
  font-size: var(--font-size-xxl);
}

.footer > .description {
  color: var(--text-secondary);
  font-size: var(--font-size-ll);
}

.footer > .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer>.buttons>.button {
  height: 40px;
  margin: 5px;
  font-size: 18px;
}

.footer>.buttons>button:nth-child(1):hover {
    background: var(--primary);
}
.footer>.buttons>button:nth-child(2) {
    background: var(--secondary);
}

@media (max-width: 1000px) {
  .footer {
    padding: 1rem;
  }

  .footer>.buttons {
    flex-direction: column;
  }

  .footer>.buttons>.button {
    width: 250px;
  }
}