.blog-post {
    position: relative;
    min-height: 300px;
    margin-bottom: 15px;
    transition: 0.2s all ease-in-out;
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    z-index: 0;
}

.blog-post-content {
    position: relative; 
    z-index: 1; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    gap: 10px; 
}

.blog-post  p {
    color: white; 
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.blog-post .title {
    font-weight: bold;
    font-size: 1.5em;
}

.blog-post .summary {
    opacity: 0.8;
}

.blog-post img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
    z-index: -1;
}

.blog-post:hover {
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), var(--box-shadow); 
}

@media (max-width: 1000px) {
    .blog-post .title {

    font-size: 1.3em;
}
    .blog-post  p {
        font-size: 13px;
    }
}