.services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.services>h1{
    font-size: var(--font-size-xxl);
    font-weight: 600;
}

.services-boxes{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 1000px) {
    .services>h1 {
        text-align: center;
    }
  .services-boxes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-boxes>.service{
    margin-bottom: 15px;
  }
  .services-boxes>.service:hover{
    background: white;
    color: black;
  }
}